{% extends 'base/base.html' %}
{%load static%}
{% block main_content %}
<article class="main">
 <!-- Filtering Dropdown -->
<div class="flex justify-between items-center mb-4">
  <div class="flex items-center">
     
    <div class="flex items-center">
        <span id="dropdownHoverButton" data-dropdown-toggle="dropdownHover" data-dropdown-trigger="hover" class="inline-flex items-center bg-blue-800 hover:bg-blue-700 text-white px-3 py-1 text-sm font-semibold rounded-full mr-2" type="button">
          <span>{{course.course | truncatechars:20}}</span>
          <svg class="w-2 h-2 ml-1.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
          </svg>
        </span>
      </div>
      
    
    <!-- Dropdown menu -->
    <div id="dropdownHover" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
        <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownHoverButton">
          {%for course in courses %}
          <li>
            <a href="{% url 'questions-by-course' course.id %}" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">{{course.course}}</a>
          </li>
         {%endfor%}
        </ul>
    </div>

    <a href="{% url 'questions' %}" ><span class="inline-block bg-gray-200 text-gray-700 px-3 py-1 text-sm font-semibold rounded-full mr-2">New</span>
    </a>
    <a href="{% url 'top_questions_list' %}"><span class="inline-block bg-gray-200 text-gray-700 px-3 py-1 text-sm font-semibold rounded-full mr-2">Top</span> </a>
   
  
  </div>
  <div class="flex justify-between items-center mb-4">

    <!-- component -->
    <button
      class=" md:hidden bg-blue-800 text-white rounded-md px-4 py-2 hover:bg-blue-900 transition"
      onclick="openModal('modal')"
    >
      Ask
    </button>

    <div
      id="modal"
      class="fixed hidden z-50 inset-0 bg-gray-900 bg-opacity-60 overflow-y-auto h-full w-full px-4 modal"
    >
      <div
        class="relative top-40 mx-auto shadow-xl rounded-md bg-white max-w-md"
      >
        <!-- Modal header -->
        <div
          class="flex justify-between items-center bg-blue-800 text-white text-xl rounded-t-md px-4 py-2"
        >
          <h3>Ask New Question</h3>
          <button onclick="closeModal('modal')">x</button>
        </div>

        <!-- Modal body -->
        <div class="p-4">
          <form id="questionForm" method="post" action="{% url 'questions' %}">
            {% csrf_token %}

            <div class="mb-4">
              <label
                for="question"
                class="block text-gray-700 text-sm font-bold mb-2"
                >Question</label
              >
              <textarea
                id="question"
                name="question"
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                required
              ></textarea>
            </div>

            <div class="mb-4">
              <label
                for="course"
                class="block text-gray-700 text-sm font-bold mb-2"
                >Course</label
              >
              <select
                id="course"
                name="course"
                class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                required
              >
                <option value="" disabled selected class="text-gray-400">
                  Select a course
                </option>
                {% for course in courses1 %}
                <option
                  value="{{ course.id }}"
                  class="text-gray-700 hover:bg-gray-100 hover:text-gray-900"
                >
                  {{ course.course }}
                </option>
                {% endfor %}
              </select>
            </div>
            <div
              class="px-4 py-2 border-t border-t-gray-500 flex justify-end items-center space-x-4"
            >
              <button
                class="bg-red-500 text-white px-4 py-2 rounded-md hover:bg-red-700 transition"
                onclick="closeModal('modal')"
              >
                Cancel
              </button>
              <button
                class="bg-blue-800 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                type="submit"
              >
                Submit
              </button>
            </div>
          </form>
        </div>

 
      </div>
    </div>
  </div>
</div>



{% for question in questions %}
<!-- Question Card -->
<div class="bg-white rounded-lg overflow-hidden mx-auto max-w-xl mb-6 shadow-lg hover:shadow-xl transition-shadow duration-300">
  <!-- Question Header -->
  <div class="px-6 py-4 text-gray-700 flex items-center justify-between border-b border-gray-200">
    <!-- User Profile -->
    <div class="flex items-center">
      <img src="{% if question.user.profile_pic %}{{ question.user.profile_pic.url }}{% else %}{% static 'no_profile_pics/profile.jpg' %}{% endif %}"
      alt="Profile Picture" class="h-10 w-10 rounded-full mr-3 border-2 border-blue-500 object-cover" />
      <div>
        <span class="text-sm font-bold">{{ question.user.first_name }} {{ question.user.last_name }}</span>
        <br>
        <span class="text-xs text-gray-500">{{ question.date|timesince }}</span>
      </div>
    </div>
  </div>
  <!-- Question Body -->
  <div class="px-6 py-4">
    <!-- Question Text -->
    <p class="text-gray-800 text-base mb-4">
      {{ question.question | truncatechars:150 }}
    </p>
    <!-- Badges for Course and Hashtags -->
    <div class="flex flex-wrap">
      <!-- Course Badge -->
      <span class="inline-block bg-blue-100 text-blue-800 px-3 py-1 text-sm font-semibold rounded-full mr-2 mb-2">{{ question.course }}</span>
      <!-- Hashtag Badges -->
      {% for hashtag in question.hashtags.all %}
      <a href="{% url 'filtered_questions' hashtag_id=hashtag.id %}" class="inline-block bg-gray-200 text-gray-700 hover:bg-gray-300 px-3 py-1 text-sm font-semibold rounded-full mr-2 mb-2 transition-colors duration-300">{{ hashtag.name }}</a>
      {% endfor %}
    </div>
  </div>
  <!-- Footer -->
  <div class="px-6 py-4 bg-gray-50 flex justify-between items-center">
    <!-- Number of Answers -->
    <span class="text-gray-600">
      {% if question.answers.count == 0 %}
        No Answers
      {% elif question.answers.count == 1 %}
        1 Answer
      {% else %}
        {{ question.answers.count }} Answers
      {% endif %}
    </span>
    <!-- Button to Question Detail Page -->
    <a href="{% url 'question-detail' pk=question.pk %}" class="text-blue-500 hover:text-blue-700 font-semibold py-2 px-4 rounded-full focus:outline-none focus:shadow-outline transition duration-300 ease-in-out">See More</a>
  </div>
</div>
{% endfor %}

<!-- Pagination -->
<div class="flex justify-center mt-8 space-x-4">
  {% if questions.has_previous %}
  <a href="?page=1" class="px-4 py-2 bg-blue-800 hover:bg-blue-600 text-white font-bold rounded-full focus:outline-none focus:shadow-outline">First</a>
  <a href="?page={{ questions.previous_page_number }}" class="px-4 py-2 bg-blue-800 hover:bg-blue-600 text-white font-bold rounded-full focus:outline-none focus:shadow-outline">Previous</a>
  {% endif %}

  <span class="text-gray-600">Page {{ questions.number }} of {{ questions.paginator.num_pages }}</span>

  {% if questions.has_next %}
  <a href="?page={{ questions.next_page_number }}" class="px-4 py-2 bg-blue-800 hover:bg-blue-600 text-white font-bold rounded-full focus:outline-none focus:shadow-outline">Next</a>
  <a href="?page={{ questions.paginator.num_pages }}" class="px-4 py-2 bg-blue-800 hover:bg-blue-600 text-white font-bold rounded-full focus:outline-none focus:shadow-outline">Last</a>
  {% endif %}
</div>
</article>


<!-- Aside Section -->
<aside class="aside aside2 hidden md:block h-screen overflow-y-auto">
  <!-- Ask New Question Form -->
  <div class="bg-white rounded-lg shadow-lg mb-8">
    <div class="bg-gradient-to-r from-blue-800 to-blue-600 text-white text-center py-4 rounded-t-lg">
      <h2 class="text-xl font-semibold">Ask New Question</h2>
    </div>
    <form id="questionForm" method="post" action="{% url 'questions' %}" class="p-6">
      {% csrf_token %}
      <div class="mb-4">
        <label for="question" class="block text-gray-700 text-sm font-bold mb-2">Question</label>
        <textarea
          id="question"
          name="question"
          class="shadow appearance-none border border-blue-500 rounded-lg w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline focus:border-blue-700 focus:ring-2 focus:ring-blue-500"
          rows="5"
          required
        ></textarea>
      </div>
      <div class="mb-4">
        <label for="course" class="block text-gray-700 text-sm font-bold mb-2">Course</label>
        <select
          id="course"
          name="course"
          class="appearance-none border border-gray-300 rounded-lg w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline focus:border-blue-700 focus:ring-2 focus:ring-blue-500"
          required
        >
          <option value="" disabled selected class="text-gray-400">Select a course</option>
          {% for course in courses1 %}
          <option value="{{ course.id }}" class="text-gray-700 hover:bg-gray-100 hover:text-gray-900">
            {{ course.course }}
          </option>
          {% endfor %}
        </select>
      </div>
      <div class="flex items-center justify-between">
        <button
          class="bg-blue-800 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
          type="submit"
        >
          Submit
        </button>
      </div>
    </form>
  </div>

  <!-- Questions Card -->
  <div class="bg-white shadow-lg rounded-lg overflow-hidden">
    <!-- Card Header -->
    <div class="bg-gradient-to-r from-blue-800 to-blue-600 text-white text-center py-4 rounded-t-lg">
      <h2 class="text-xl font-semibold">My Questions</h2>
    </div>
    <!-- Card Content -->
    <div class="p-4">
      <ul class="space-y-3">
        {% for question in my_questions %}
        <li class="bg-gray-100 p-3 rounded-lg shadow-sm">
          <a href="{% url 'question-detail' question.id %}" class="text-blue-800 hover:underline">{{question.question|truncatechars:30}}</a>
        </li>
        {%endfor%}
      </ul>
    </div>
    <!-- Card Footer -->
    <div class="bg-gray-50 text-center p-4 rounded-b-lg">
      <a href="{% url 'my-questions' %}">
      <button
        class="bg-blue-600 text-white px-4 py-2 rounded-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500"
      >
        See More
      </button>
    </a>
    </div>
  </div>
</aside>


<script>
// Add event listener for dropdown menu
document.getElementById('dropdownHoverButton').addEventListener('mouseenter', function() {
  document.getElementById('dropdownHover').classList.remove('hidden');
});

document.getElementById('dropdownHover').addEventListener('mouseleave', function() {
  document.getElementById('dropdownHover').classList.add('hidden');
});


  window.openModal = function(modalId) {
    document.getElementById(modalId).style.display = 'block'
    document.getElementsByTagName('body')[0].classList.add('overflow-y-hidden')
  }
  
  window.closeModal = function(modalId) {
    document.getElementById(modalId).style.display = 'none'
    document.getElementsByTagName('body')[0].classList.remove('overflow-y-hidden')
  }
  
  // Close all modals when press ESC
  document.onkeydown = function(event) {
    event = event || window.event;
    if (event.keyCode === 27) {
      document.getElementsByTagName('body')[0].classList.remove('overflow-y-hidden')
      let modals = document.getElementsByClassName('modal');
      Array.prototype.slice.call(modals).forEach(i => {
        i.style.display = 'none'
      })
    }
  };
  </script>

{% endblock %}
